<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaxMotive</title>
    <link rel="stylesheet" href="/Project/Style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="Style/style.css">
</head>
<body>
    <nav>
        <div id="logo">
        <img id="logo-image" src="Assets/Logo.png">
        <span id="logo-text">MaxMotive</span>
        </div>
        <div id=frame>
        <div id="nav-menu">
        <a href='#'>About-Us</a>
        <a href="/products">Shop</a>
        <a href="#">Contact-Us</a>
        <a href="/admin/products">Admin Log-In</a>
        <div id="btn">
            <button id="signup-btn">Sign-up</button>
            <button id="login-btn">Login</button>
        </div>
        </div>
    </div>
    </nav>
    <header>
        <div id="text-block">
        <h2>Power Your Potential.</h2>
        <p>We provide top-tier 
            supplements that boost performance and recovery, 
            helping everyone push their limits and achieve their 
            fitness goals.</p>
            <button id="call-to-action">Shop-Now</button>
        </div>
        <div id="image-container">
            <img id="hero-image" src="Assets/Logo.png">
        </div>
    </header>
    
    <main>
        <div id="main-heading">
        <h1>Browse our Products</h1>
        <form>
            <label for="search-bar"></label>
            <input type="text" id="search-bar" name="search-bar" placeholder="Search for products...">
        </form>
        <button id="search-btn">Search</button>
        </div>
    </main>
    
    <footer>
        <div id="content">
           <div id="info">
              <div id="logo">
                 <img id="logo-image" src="Assets/Logo.png">
                 <span id="logo-text">MaxMotive</span>
              </div>
              <p id="footer-info">
                 Max Motive &copy; 2024.<br> All Rights Reserved.
              </p>
           </div>
        </div>
     </footer>
     <script src="/script.js"></script>
</body>

</html>