<footer>
    <div id="content">
        <div id="info">
            <div id="logo">
                <img id="logo-image" src="/Assets/Logo.png" alt="MaxMotive Logo">
                <span id="logo-text">MaxMotive</span>
            </div>
            <p id="footer-info">
                MaxMotive &copy; 2024. All Rights Reserved.
            </p>
        </div>
    </div>
</footer>
<script src="/script.js"></script>
</body>
</html>
