<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div id="logo">
            <a href="/">
                <img id="logo-image" src="/Assets/Logo.png" alt="MaxMotive Logo">
                <span id="logo-text">MaxMotive</span>
            </a>
        </div>
        <div id="nav-menu">
            <a href="/about">About Us</a>
            <a href="/products">Shop</a>
            <a href="/contact">Contact Us</a>
            <a href="/admin/products">Admin Log-In</a>
            <div id="btn">
                <button id="signup-btn">Sign-up</button>
                <button id="login-btn">Login</button>
            </div>
        </div>
    </nav>
